 /* .navbar-nav{
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 1rem;
}
.nav{
    margin-left: 2rem;
    color: rgb(151, 8, 8);
    font-size: 3rem;
    font-variant: small-caps;
    font-family: cursive;
    transition: all .7s;
}
.navbar-nav li{
    margin: 0 10px !important;
}
.navbar-nav li a{
    color: black;
    font-size: 20px;
    letter-spacing: .5px;
    font-variant: small-caps;
}
.navbar-nav li a:hover{
     color: chartreuse;
}
.navbar-nav button{
    background-color: tomato;
    letter-spacing: .5px;
    border: 1px solid black;
    transition: all .7s;
}
.carousel-item img{
    height: 86vh;
    object-fit: cover;
}
.content{
    
    margin-top: 3rem;
    

}
.content h2{
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-weight: bold;
    color: gray;
}
.para{
    width: 90%;
}
.content h3{
    margin-bottom: 1.5rem;
}
.help-img img{
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: all .3s;
}
.help-img{
    padding: 5px;

}

.help{
    box-shadow: 3px 3px 5px 6px rgba(0,0,0,0.2);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.help-text{
    padding: 1rem 1.5rem;
}
.help-text h4{
    font-size: 20px;
     white-space: nowrap; 
}
.content2{
    padding: 4rem 0 2rem;
}
.sub-content1{
    margin-bottom: 2rem;
}
.heading-subcontent h6{
    color: gray;
}



.empty{
    left: 37rem;
    position: absolute;
    right: 22rem;
    
    height: 27rem;
    background-color: white;
    width: 40rem;
    top: 109rem;
    box-shadow: 0 3px 5px 6px rgba(0,0,0,0.2);
}
.left-img{
    position: relative;
    z-index: 1;
    
}
.subcontent-team{
    margin-top: 25rem;
}
.text-right{
    padding: 1px;
}
.text-right h2{
    color: #ce0a0a;
    font-family: fantasy;
    letter-spacing: 1.3px;
    width: -1px;
    font-size: 47px;
    padding-left: 7px;
}
.text-right h4{
    font-size: 30px;
    padding-left: 7px;
    letter-spacing: 0.3px;
}
.text-right p{

    width: 34rem;
    padding-left: 7px;
    padding-top: 4px;
}
.text-right{
    position: absolute;
    z-index: 1;
    top: 111rem;
    right: 9rem;
    background-color: white;
}
.content3{
    margin-top: 20px;

}

.laps{
    margin-top: 2rem;
}
.laps-right-div{
    padding: 2rem 4rem;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    position: relative;
    z-index: -1;
}
.laps-rigth-text{
    padding: 1rem;
    z-index: 1;
}
    
.bis{
    display: inline-flex;
    font-size: 2rem;   
}
.head{
    background-color: rgb(53, 50, 50);
}
.bis h1{
    font-size: 3rem;
    color: orangered;
}
.head a{
    color: white;
    font-weight: bold;
    font-variant: all-small-caps;
    font-size: 37px;
}
.sub-heading a{
    padding-right: 10px;
    text-decoration: none;
    border-right: 1px solid black;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    height: 3rem;
    color: white;
    font-variant: common-ligatures;

    
}

.sub-heading{
    background-color: rgba(0, 0, 0, 0.603);
    
    margin-top: -8px;
    padding-left: 5px;
    
}
.left-content{
    margin-top: 3rem;
}
.right-div{
    background-color: rgb(199, 193, 193);
    
}
.link{
    margin-top: 3rem;
}
p{
    font-style: unset;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: .3px;
    line-height: 23px;
}
.content1{
    padding-bottom: 2rem;
}
.content2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.content3{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.left-img img{
    height: 170px;
    object-fit: cover;
    
}
.left-text h3{
    padding-bottom: 1rem;
    font-family: auto;
    font-weight: bolder;
    letter-spacing: 0.3px;
    word-spacing: 2.3px;
}
.left-text a{
    text-decoration: none;
    color: orangered;
    font-variant: small-caps;
}
.link-head h2{
    font-family: auto;
    font-weight: 900;
    font-variant: small-caps;
}
.link-itom h6{
    color: rgb(226, 74, 19);
    letter-spacing: .3px;
    padding-bottom: 5px;

}
.other{
    padding-top: 2rem;
}
.widget h2{
    font-family: auto;
    font-weight: 900;
    font-variant: small-caps;
}
.wid-para p{
    width: 24rem;
    letter-spacing: .3px;
}
.footer h5{
    text-align: center;
    color: white;
    background-color: rgb(43, 40, 40);
    font-size: 16px;
    padding-top: 2px;
    padding-bottom: 4px;
}
.footer{
    margin-top: 2rem;
}
.left-content{
    margin-left: 0px;
}
.main-nv{
    background-color: #000000;
    height: 3rem;
}
.biswajit li a{
    color: wheat;
    margin-right: 2rem;
    
}
.biswajit{
    margin-right: auto;
    padding-bottom: 17px;
}
.biswajit li img{
    width: 27px;
    height: auto;
}
.nav-div img{
    width: 36px;
    height: 30px;
    margin-bottom: 19px;
    padding-right: 5px;
}
.nav-logo-color{
    background-color: rgb(36, 35, 35);
    height: 67px;
    margin-top: 10px;
}
.album{
    color: white;
    margin-left: 5px;
}
.nav-div a{
    margin-left: 26px;
    margin-top: 6px;
}
.banner img{
    object-fit: cover;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    
}
.image img{
    max-width: 19%;
    height: auto;
    float: left;
    
    
}
.image {
    padding: 10px;
    border: 1px solid red;
    overflow: auto;
    
    

}
li{
    list-style-type: none;
    background-color: rgb(43, 40, 40);
} */
.main{
    background-color: rgb(230, 223, 223)
}
.demo-navbar{
    background-color: gray;
}
.demo-logo{
    font-size: 2rem;
    font-family: cursive;
    font-weight: bolder;
    color: lightseagreen;
    letter-spacing: 1px;
    font-variant: small-caps;
}
.demo-nav{
    padding-left: 25rem;
}
.demo-nav li{
    padding-left: 5px;
    padding-right: 5px;
    font-size: 22px;
    letter-spacing: .3px;
    
}
.demo-nav li a{
    color: black;

}
.images{
    height: 525px;
    width: 100%;
    
    
}
.food-cont{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}
.food-itom{
   
    
    box-shadow: 0 3px 5px 6px rgba(0,0,0,0.2);

    object-fit: cover;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 5px;
    
    
}
.text{
    text-align: center;
}
.image img{
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.text p{
    font-family: fantasy;
}
.right-logo img{
    height: 238px;
    position: absolute;
    right: 251px;
}
.left-text a{
    text-decoration: none;
    font-size: 20px;
    display: table;
    padding-left: 25px;
    padding-bottom: 25px;
    color: white;

}
.footer{
    
    background-color: rgb(172, 169, 169);
    margin-top: 75px;
}
.bis{
    padding: 40px 30px;
}
.left-text{
    padding-left: 250px;
}
.footer h3{
    text-align: center;
    background-color: wheat;
    font-size: 20px;
}
.sp{
    color: yellowgreen;
}
.nav-color{
    background-color: rgb(184, 174, 174);
}
.container-fluid .home-logo{
    color: white;
    font-size: 30px;
    font-family: fantasy;
    letter-spacing: 1px;
}
.container-fluid .home-logo:hover{
    color: tomato;
    transition: all .5s;
   
}
.nav-bar-list{
    padding-left: 40rem;
    
}
.nav-bar-list li{
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    color: thistle;
    letter-spacing: 1px;
}
.nav-bar-list li a{
    color: thistle;
}
.list-itom a{
    color: thistle;
}
.container1{
    margin-top: 15px;
}
.sub-container2{
    border: 1px solid black;

}
.sub-image img:hover{
    font-size: 10px;
}

.sub-container2{
    margin-right: 6px;
    padding-left: 0px;
    padding-right: 0px;
    width: 31%;
    margin-left: 22px;
}
.sub-image p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
}
.sub-image {
    box-shadow: 3px 3px 5px 6px rgba(0,0,0,0);
}
.paragraphs{
    margin-top: 20px;
    
}
.paragraphs h2{
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .3px;
    font-weight: 900;
    text-decoration: lavender;
}
.paragraphs p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .3px;
    line-height: 30px;
    padding-left: 10px;
}
.paragraphs h2 p{
    border: 2px solid black;
}
.image-demo{
    object-fit: cover;
    opacity: 1.5;
    position: absolute;
}
.heading{
    position: relative;
    left: 9rem;
    top: 34rem;
    font-family: auto;
    font-weight: 900;
}
.par{
    width: 24rem;
    position: absolute;
    top: 80rem;
    left: 7rem;
    font-family: cursive;
    font-weight: bolder;
    letter-spacing: 0.5px;
    font-size: 17px;
}
.heading:hover{
    font-size: 50px;
    transition: all .5s;
    cursor: pointer;
}
.body{
    background-color: blue;
}
.head-navbar{
    background-color: blue;
}
.nav-cotent{
    padding-left: 20%;
}
.nav-con{
    padding-left: 25%;
}
.nav-con li{
    padding-left: 30px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-top: 1rem ;
}
.left-it{
    padding-top: 5rem;
}
.lg-in a{
    text-decoration: none;
    margin-right: 5px;
}
.sign{
    padding: 20px 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
}
.lg-in{
    position: absolute;
    right: 75px;
    font-weight: bold;
}
.lg-in button{
    font-weight: bold;
}
.lg-in a:hover{
    color: orangered;
}
.left-sub-it h1{
    font-weight: bold;
    font-family: fantasy;
    color: rgb(236, 100, 51);
    position: relative;
    left: 10px;
    font-size: 66px;
}
.movie{
    margin-top: 10px;
    margin-left: 5px;
}
.order{
    margin-top: 10px;
    margin-left: 5px;
}
.search{
    margin-top: 10px;
    margin-left: 5px;
}
.pop{
    margin-top: 10px;
    font-weight: 800;
    opacity: .5;
    margin-left: 5px;
}
.ah{
    font-weight: 800;
    margin-left: 5px;
    margin-top: 10px;
}
.right-im img{
    height: 29rem;
}
.im{
    text-align: center;
    padding-top: 5rem;
}
.hd{
    text-align: center;
    color: white;
    padding-top: 5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
}
.pr{
    text-align: center;
    color: white;
    padding-top: 1rem;
    letter-spacing: .3px;
    padding-bottom: 5rem;
}
.bt-text h1{
    margin-top: 8rem;
    width: 19rem;
    text-align: center;
    margin-left: 10rem;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.bt-img img{
    height: 26rem;
    width: 27rem;
    margin-top: -71px;
    position: absolute;
    z-index: -1;
    padding-right: 30px;
}
.bt-img img1{
    
}
.foot-hd h5{
text-align: center;
color: rgb(184, 179, 179);
margin-top: 2rem;
padding-bottom: 2rem;
}
.foot-hd h5:hover{
color: tomato;
cursor: help;
}
.foot-hd p{
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 3px;
    
}
.foot-hd p:hover{
    font-size: 20px;
    transition: all.5s;
    cursor: pointer;
}
.foot-logo img{
    height: 50px;
    padding-right: 15px;
    padding-bottom: 10px;
}
